/*Obesity Epidemic colors + fonts */
/*******************************************************************/

/*color definitions for this page*/
.section-wrapper.dark-blue {
    background-color: #12173d;
}
.full-container.dark-blue {
    color: white;
}
.wave-decoration.dark-blue-wave {
    min-height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 25 0 50 10 T 100 10 V 20 H 0 Z' fill='%2312173d' /%3E%3C/svg%3E");
}
.wave-decoration.bottom.dark-blue-wave {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 25 0 50 10 T 100 10 V 20 H 0 Z' fill='%2312173d' transform='scale(1,-1) translate(0,-20)' /%3E%3C/svg%3E");
}

/*color palette*/
.color-palette.dark-blue {
    background-color: #12173d;
}
.color-palette.mid-blue {
    background-color: #2c3f81;
}
.color-palette.light-blue {
    background-color: #8bb0d9;
}
.color-palette.green {
    background-color: #4b7c47;
}
.color-palette.yellow {
    background-color: #f4c560;
}
.color-palette.orange {
    background-color: #e68e46;
}
.color-palette.red {
    background-color: #d84339;
}
.color-palette.wine {
    background-color: #5c243f;
}

/*special classes************************/
.statement.problem {
    border-left: 1em solid #d84337;
}

.statement.solution {
    border-right: 1em solid #4b7c47;
}

/*fonts*/
.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p.crimson-pro,
p.darker-grotesque {
    font-size: 1.5em;
    line-height: 1;
}

.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/**imgs ***/

.project-hero.cover-img {
    background-image: url("/assets/work/obesity-epidemic/sifuentes-obesity-epidemic-scroll-cover.webp");
    padding-bottom: 12vh;
    padding-top: 15vh;
}

.project-hero.highlight-img-1 {
    min-height: 120vh;
    background-image: url("/assets/work/obesity-epidemic/sifuentes-obesity-epidemic-big-dataviz.webp");
}

.project-hero.highlight-img-2 {
    min-height: 120vh;
    background-image: url("/assets/work/obesity-epidemic/sifuentes-obesity-epidemic-inspiration.png");
}
.project-hero.highlight-img-3 {
    min-height: 120vh;
    background-image: url("/assets/work/obesity-epidemic/sifuentes-obesity-epidemic-proposals.png");
}

.project-hero.highlight-img-4 {
    min-height: 120vh;
    background-image: url("/assets/work/obesity-epidemic/sifuentes-obesity-epidemic-sketches.png");
}

/***add to main?***/
.project-hero,
.project-intro {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.section-wrapper.full-wrap {
    min-height: 100vh;
}
