/* === Navbar styling === */

  .navbar {
    width: 100%;
    color: #14130F;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1em 0;
  }

  .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }


  .navbar-logo {
    font-size: 1.2rem;
    font-weight: 400;
    color: #320C18;
    text-decoration: none;
  }

  a.navbar-logo{
      text-decoration: none !important; 
      background-image: none !important; 
      background-size: 0% 0 !important;
      transition: none !important;
  }

  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  #hamburger path {
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
  }

  #hamburger.open path#line1 {
    transform: rotate(45deg) translate(10px, 10px);
  } 
  #hamburger.open path#line2 {
    opacity: 0;
  }
  #hamburger.open path#line3 {
    transform: rotate(-45deg) translate(10px, -10px);
  }


.menu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #B8B3B7;
  justify-content: center;
  gap: 2rem;
  height: auto;
  background-color: #FFFFFF;
  padding-top: 2em;
  display: block; 
  visibility: hidden;
}

.menu.visible {
  max-height: 1000px; 
  opacity: 1;
  visibility: visible;
}


  .menu-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }


  .menu-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .menu-section h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #14130F;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 0;
    margin: 0;
    padding: 1rem 0rem;
    text-decoration: none;
    background-image: linear-gradient(to right, #320C18, #320C18);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.7s ease;
  }

  .menu-section h3:hover {
     background-size: 100% 1px;
  }

  .menu-section ul {
   list-style: disc;
   padding-left: 1.2rem;
   margin: 0.5rem 0;
  }

  .menu-section li {
    margin-bottom: 0.5rem;
    list-style-type:circle;
  }

  .menu-section a {
    text-decoration: none;
    color:#14130F;
    font-weight: 100;
    background-image: linear-gradient(to right,#320C18, #320C18);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease;
    font-size: 0.9em;
  }

  .menu-section a:hover {
    background-size: 100% 1px;
  }

  .more-link {
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
  }


  @media screen and (max-width: 768px) {
    .menu-contents {
      grid-template-columns: 1fr;
    }

  