#navigation-menu {
    display: none;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0;
}

#navigation-menu::before {
    border-left: 2px solid var(--medium-gray);
    bottom: 0;
    left: 1.8em;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

#navigation-menu ul {
    display: block;
    margin-top: 5em;
    padding-left: 1.25em;
    position: relative;
    z-index: 2;
}

#navigation-menu ul li {
    display: block;
    margin: 1.75em 0;
    position: relative;
}

#navigation-menu ul li div {
    background: var(--medium-gray);
    border-radius: 100%;
    display: inline-block;
    height: 1.25em;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    width: 1.25em;
}

#navigation-menu ul li.current-section div,
#navigation-menu ul li div:hover {
    background: var(--orange);
    transform: scale(2);
}

#navigation-menu ul span {
    background: var(--orange);
    color: var(--dark-blue);
    display: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-left: 2.5em;
    margin-top: -1.5em;
    border-radius: 3px;
    padding: 0.125em 0.625em 0.25em 0.625em;
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    vertical-align: middle;
}

#navigation-menu ul li div:hover + span {
    display: block;
}
