#scrolly-side .scrolly {
    display: flex;
}

#scrolly-side .scrolly > * {
    flex: 1;
}

#scrolly-side .scrolly article {
    max-width: 30em;
    padding-right: 1em;
}

#scrolly-side .scrolly article .step {
    margin-bottom: 1em;
    transition: background-color 250ms ease-in-out;
}

#scrolly-side .scrolly article .step:last-of-type {
    margin-bottom: 0;
}

#scrolly-side .scrolly article .step.is-active {
    background-color: #008080;
}

#scrolly-side .scrolly article .step p {
    color: #f4f4f4;
    font-weight: 400;
    margin: 0;
    padding: 1em;
    text-align: center;
}

#scrolly-side .scrolly figure.sticky {
    height: 50vh;
    left: 0;
    margin: 0;
    position: sticky;
    top: 25vh;
    width: 100%;
}

#scrolly-side .scrolly figure.sticky .bar-outer {
    background-color: #ffffff;
    height: 4em;
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
}

#scrolly-side .scrolly figure.sticky .bar-inner {
    background-color: #daa520;
    height: 100%;
    transition: width 1s ease-in-out;
    width: 10%;
}
